<h1>Bucket列表</h1>
<ul>
  {{range .BucketList}}
    <li>
        <!-- <form hx-get="/web/getAll" hx-target="#bucket-content" hx-swap="innerHTML" >
            <input type="hidden" name="bucketName" value="{{.}}" />
            <button type="submit" class="bucket-btn">
                {{.}}
            </button>
        </form> -->
        <button hx-get="/web/setBucket/{{.}}" 
        hx-target="#bucket-content"
        hx-swap="innerHTML" 
        class="bucket-btn">
    {{.}}
</button>
    </li>
  {{else}}
    <li>没有任何 bucket</li>
  {{end}}
</ul>