<div class="data-container">
    <div id="info-display"
         hx-get="/web/info/{{.bucketName}}"
         hx-trigger="load"
         hx-swap="innerHTML"
         class="info-bar">
         <em>正在加载元数据...</em>
    </div>

    <p>数量: {{.totalKV}}</p>
    <p>总页数: {{.totalPage}}</p>

    <table class="data-table">
        <thead>
            <tr>
                <th style="width: 45%;">Key</th>
                <th style="width: 10%;"></th>
                <th style="width: 45%;">Value</th>
            </tr>
        </thead>
        <tbody>
            {{range $k, $v := .kv}}
                <tr>
                    <td><p class="kv_td">{{$k}}</p></td>
                    <td style="border: none;background-color:#1a1a1a;"></td>
                    <td><p class="kv_td">{{$v}}</p></td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="3" class="no-data">这个 bucket 里没有数据</td>
                </tr>
            {{end}}
        </tbody>
    </table>
</div>

<div class="pagination-controls">
    <div class="page-nav-left">
        <button hx-get="/web/changePage/left"
                hx-target="#bucket-content"
                hx-swap="innerHTML" >
            &laquo; 上一页
        </button>
        <button hx-get="/web/changePage/right"
                hx-target="#bucket-content"
                hx-swap="innerHTML" >
            下一页 &raquo;
        </button>
    </div>

    <div class="page-numbers">
        {{range $p := .numList}}
            <button hx-get="/web/setPage/{{$p}}"
                    hx-target="#bucket-content"
                    hx-swap="innerHTML"
                    class="{{if eq $p $.CurrentPage}}active{{end}}">
                {{$p}}
            </button>
        {{end}}
    </div>

    <div class="step-button">
        <button hx-get="/web/setStep/25"
                hx-target="#bucket-content"
                hx-swap="innerHTML"
                class="{{if eq .PageSize 25}}active{{end}}">
            25
        </button>
        <button hx-get="/web/setStep/50"
                hx-target="#bucket-content"
                hx-swap="innerHTML"
                class="{{if eq .PageSize 50}}active{{end}}">
            50
        </button>
        <button hx-get="/web/setStep/80"
                hx-target="#bucket-content"
                hx-swap="innerHTML"
                class="{{if eq .PageSize 80}}active{{end}}">
            80
        </button>
    </div>
</div>