<div class="data-container">
    <p>数量: {{.totalKVKV}}</p>
    <table class="data-table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {{range $k, $v := .kv}}
                <tr>
                    <td><p class="kv_td">{{$k}}</p></td>
                    <td><p class="kv_td">{{$v}}</p></td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="2" class="no-data">这个 bucket 里没有数据</td>
                </tr>
            {{end}}
        </tbody>
    </table>
</div>

<div class="pagination-controls">
    <button hx-get="/web/changePage/left" 
            hx-target="#bucket-content"
            hx-swap="innerHTML" >

        &laquo; 上一页
    </button>
    <button hx-get="/web/changePage/right" 
            hx-target="#bucket-content"
            hx-swap="innerHTML" >
        下一页 &raquo;
    </button>

    <div class="page-numbers">
        {{range $i, $p := .numList}}
            <button hx-get="/web/setPage/{{$p}}" 
                    hx-target="#bucket-content"
                    hx-swap="innerHTML" 
                    class="{{if eq $p $.CurrentPage}}active{{end}}">
                {{$p}}
            </button>
        {{end}}
    </div>

    <button hx-get="/web/setStep/25" 
            hx-target="#bucket-content"
            hx-swap="innerHTML"
            class="{{if eq .PageSize 25}}active{{end}}">
        25
    </button>
    <button hx-get="/web/setStep/50" 
            hx-target="#bucket-content"
            hx-swap="innerHTML"
            class="{{if eq .PageSize 50}}active{{end}}">
        50
    </button>
    <button hx-get="/web/setStep/80" 
            hx-target="#bucket-content"
            hx-swap="innerHTML"
            class="{{if eq .PageSize 80}}active{{end}}">
        80
    </button>
</div>